extends layout

block content

    a(href="/api/tasks") back to lists

    form(action="/api/tasks/", method="post") 
        p task title : 
        <input type="text" name="title">
        br
        p task description: 
        <input type="text" name="description">
        <input type="hidden" name="completed" value=false>
        br
        br
        button(type="submit" value="save") Add task
        